#wrapper {
  position: relative;
  overflow: hidden;
}
#wrapper #pages-wrapper .pages {
  float: left;
  overflow: hidden;
}
#wrapper #pages-wrapper .pages .page {
  float: left;
  display: block;
  position: relative;
}

.full-screen {
	width:100%;
	height:100%;
}

#hat {
	position:absolute;
	left:0;
}

.highlight {
	background-color:red;
	color:yellow;
}

.text-container {
	margin:0 auto;

	width:1000px;

}

body {
	font-size:30px;
}

code {
	font-size:20px;
}